/*---------css reset start---------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------css reset ending---------*/
html, body {
	height: 100%;
}
body {
	width: 100%;
}
/*---------navigation bar styles---------*/
nav {
	height:3em;
	background-color: rgba(150, 150, 150, 1.0);
	position: fixed;
	width: 100%;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid rgba(90, 90, 90, 1.0);
}
.navigation {
	display: flex;
	justify-content: flex-end;
}
nav a, .navigation a {
	background-color: rgba(180, 180, 180, 1.0);
	display: block;
	padding: 1em;
	font-size: 1.0em;
	color: rgba(0, 0, 0, 1.0);
	text-transform: uppercase;
}
nav a:hover, .navigation a:hover {
  background: rgba(150, 150, 150, 0.5);
	color: rgba(240, 240, 240, 1.0);
}
/*---------base sections styles---------*/
.section {
	height: 100%;
	position: relative;
	display: block;
}
	/*before pseudo-element is for transparent background*/
.section::before {
	content: '';
	opacity: 0.6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	/*fixed scrolling position achieved with background-attachment property*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.intro::before {
	background-image: url(../images/1.jpg);
}
.about::before {
	background-image: url(../images/2.jpg);
}
.portfolio::before {
	background-image: url(../images/3.jpg);
}
.contact::before {
	background-image: url(../images/4.jpg);
}
/*-------sections content styles----------*/
h1, h2, p, a {
	font-family: 'Righteous', cursive;
}
h1 {
	font-size: 3.2em;
}
h2 {
	font-size: 2.5em;
}
p {
	font-size: 1.5em;
}
a {
	font-size: 1.5em;
	text-decoration: none;
}
/*-------'intro' section content styles +'contact' section links styles----------*/
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.intro h1, .intro p {
	text-align: center;
	text-transform: capitalize;
}
.intro h1 {
	text-shadow: 2px 2px 1px grey;
}
.intro p {
	padding-top: 10px;
	/*padding-bottom: 15px;
	border-bottom: 5px ridge rgba(230, 230, 230, 0.7);*/
}
.intro ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 15px;
}
.intro a, .contact a {
	border: 2px solid black;
	padding: 5px 5px;
	margin-right: 20px;
	color: rgba(0, 0, 0, 1.0);
	display: block;
}
.intro a:hover, .contact a:hover {
	transition: all 0.4s ease-out;
	background-color: rgba(0, 0, 0, 1.0);
	color: rgba(255, 255, 255, 1.0);
	transform: scale(1.1);
}
.intro i, .contact i {
	display: inline-block;
	width: 25px;
	height: 24px;
	background-image: url(../images/spritesheet.png);
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	background-size: 186px 31px;
	vertical-align: bottom;
}
.intro li:hover i, .contact li:hover i {
	transition: all .4s ease-out;
	background-image: url(../images/spritesheet_neg.png);
	transform: scale(1.1);
}
.intro li:nth-child(1) i, .contact li:nth-child(1) i {
	width: 18px;
	background-position: -37px center;
}
.intro li:nth-child(2) i, .contact li:nth-child(2) i {
	background-position: -97px center;
}
.intro li:nth-child(3) i, .contact li:nth-child(3) i {
	background-position: -3px center;
}
.intro li:nth-child(4) i, .contact li:nth-child(4) i {
	background-position: -65px center;
}
.intro li:nth-child(5) i, .contact li:nth-child(5) i {
	background-position: -127px center;
}
/*-------'about' section content styles----------*/
.about {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.about article {
	width:40%;
}
.about p a {
	color: rgba(255, 255, 255, 1.0);
}
.about p a:hover {
	color: rgba(0, 100, 0, 1);
	text-decoration: underline;
}
.about h2 {
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about p {
	line-height: 1.5;
}
.about .avatar {
	width: 300px;
	height: 300px;
	background: url(../images/avatar.jpg) no-repeat;
	border-radius: 50%;
}
/*-------'portfolio' section content styles----------*/
.portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.portfolio a {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 300px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.7;
	text-align: center;
	color: rgba(255, 255, 255, 1.0);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	font-size: 1em;
}
.portfolio li:nth-child(1) a {
	background-image: url(../images/html-css.png);
}
.portfolio li:nth-child(2) a {
	background-image: url(../images/bootstrap.png);
}
.portfolio li:nth-child(3) a {
	background-image: url(../images/frontendjq.png);
}
.portfolio li:nth-child(4) a {
	background-image: url(../images/responsive.png);
}
.portfolio li:nth-child(5) a {
	background-image: url(../images/preproc.png);
}
.portfolio li:nth-child(6) a {
	background-image: url(../images/angular.png);
}
.portfolio a:hover {
	transition: all 0.2s ease-out;
	opacity: 1.0;
	box-shadow: 5px 5px 2px 2px black;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.portfolio ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.portfolio ul li {
	margin-left: 40px;
}
.portfolio ul li:nth-child(-n+3) {
	margin-bottom: 40px;
}
.portfolio a div {
	opacity: 0;
	width:300px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.7);
	padding-top: 10px;
}
.portfolio a:hover div {
	opacity: 1;
	transition: all 0.5s ease-out;
	letter-spacing: 1px;
}
.portfolio h2 {
	margin-bottom: 20px;
}
.portfolio p {
	margin-bottom: 20px;
}
/*-------'contact' section content styles----------*/
.contact {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.contact a {
	box-shadow: 2px 2px;
	margin-bottom: 10px;
	margin-right: 0px;
}
/*-------footer section content styles----------*/
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	padding: 0 0 0 40px;
	background-color: rgba(150, 150, 150, 1.0);
}
footer li {
	display:inline-block;
}
footer li:nth-child(-n+3):after {
	content: '\00b7';
	padding-left: 5px;
	font-weight: bold;
}
footer a {
	font-size: 1.1em;
	color: rgba(0, 0, 0, 0.7);
}
footer a:hover {
	color: rgba(240, 240, 240, 1.0);
}
footer p {
	margin-top: 5px;
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.7);
}
/*-------@media styles----------*/
/* Laptops ----------- */
@media screen and (min-width : 1367px) {
	.portfolio a {
		width: 375px;
		height: 250px;
	}
	.portfolio a div {
		width: 375px;
	}
}
/* Desktops ----------- */
@media screen and (min-width : 1601px) {
	.portfolio a {
		width: 450px;
		height: 300px;
	}
	.portfolio a div {
		width: 450px;
	}
}
/* Large Desktops ----------- */
@media screen and (min-width : 1921px) {
	.portfolio a {
		width: 450px;
		height: 300px;
	}
	.portfolio ul li {
		margin-left: 120px;
	}
	.portfolio ul li:nth-child(-n+3) {
		margin-bottom: 120px;
	}
	.portfolio a div {
		width: 450px;
	}
	.portfolio h2 {
		font-size: 3.5em;
		margin-bottom: 50px;
	}
	.portfolio p {
		margin-bottom: 50px;
		font-size: 2.5em;
	}
}
